@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --container-width: 1170px;
  --primary-color: rgba(24, 181, 220, 1);
  --header-bg-color: rgba(255, 255, 255, 1);
  --header-border-color: rgba(189, 189, 189, 1);
  --hero-bg-color: rgba(246, 246, 246, 1);
  --text-color-primary: rgba(60, 60, 60, 1);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea, select {
  font-family: inherit;
}

html {
  font-family: "Lato", sans-serif;
}

.link {
  text-decoration: none;
}

.header__container {
  display: flex;
  height: 80px;
  background-color: var(--header-bg-color);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: var(--container-width);
}

.header {
  min-width: 1170px;
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  width: 170px;
  height: 60px;
}

.header__navigation {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__link {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color-primary);
}

.header__link:hover {
  color: var(--primary-color);
  transition: 0.1s;
}

.header__button {
  width: 130px;
  height: 42px;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-primary);
  background-color: white;
  border: 1px solid rgba(60, 60, 60, 1);
}

.header__button:hover {
  background-color: var(--primary-color);
  border: none;
  color: rgba(255, 255, 255, 1);
  transition: 0.1s;
  cursor: pointer;
}

.hero__container {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
}

.hero {
  min-width: var(--container-width);
  background-color: var(--hero-bg-color);
}

.hero__title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--text-color-primary);
}

.hero__text {
  text-align: center;
  width: 750px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
}

.list {
  list-style: none;
  margin-top: 60px;
}

.hero__list {
  display: flex;
  gap: 30px;
}

.person-card {
  height: 333px;
  width: 270px;
  position: relative;
}

.person-card__container--image:hover {
  opacity: 0;
  transition: 0.1s;
}

.person-card__container--hidden {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 271px;
  height: 271px;
  background-color: var(--primary-color);
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.person-card__container--hidden:hover {
  opacity: 1;
  transition: 0.2s;
}

.person-card__name {
  font-size: 18px;
  font-weight: 700;
  color: rgba(40, 37, 40, 1);
  margin-top: 20px;
}

.person-card__job-title {
  font-size: 18px;
  font-weight: 300;
  color: rgba(100, 100, 100, 1);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--container-width);
  gap: 20px;
}

.footer__list {
  display: flex;
  gap: 10px;
}
